#outer2 {
  border: 2px solid black;
  height: 100vh;
  display: block;
}
#outer1 {
  background-color: green;
  margin: 50px;
  padding: 50px;
  border: 3px solid black;
}
#inner2 {
  background-color: white;
  padding: 50px;
  border: 3px solid black;
}
#inner1 {
  background-color: green;
  color: white;
  text-align: center;
  height: 300px;
  width: 100%;
  border: 3px solid black;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 120px;
}
